{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">            
            <h3 class="text-danger text-center">Cards</h3>
            <a href="{% url 'create' %}" class="btn btn-success btn-xs pull-right">Create</a>
            <p>&nbsp;</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th width="20%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in cards %}
                    <tr>
                        <td>{{ card.title }}</td>
                        <td>{{ card.description }}</td>
                        <td> 
                            <a href="/card/update/{{ card.id }}" class="btn btn-primary btn-xs">Edit</a> 
                            &nbsp; 
                            <a href="/card/delete/{{ card.id }}" class="btn btn-danger btn-xs">Delete</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}